.Search{
    /* height: 100px; */
    display:flex; 
    justify-content:center;
    align-items: center;
    height: 200px;
    z-index: 200;
}
.SearchAndSubmit .Form{
    width: 270px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
}

.SearchAndSubmit input{
    font-size: 1.2em;
    z-index: 200;
}